/**
 * @file
 * Styling for the ds_2col template.
 */

.ds-2col {
 display: flex;
 justify-content: space-between;
}

.ds-2col > .group-left {
 float: left; /* LTR */
 width: 47%;
}

.ds-2col > .group-right {
  float: left; /* LTR */
  width: 47%;
}
